@CHARSET "UTF-8";
.head_7 {
	width: 678px;
	height: 200px;
	margin-left: 382px;
}
.head_8 {
	width: 550px;
	height: 44px;
	background-image: url(../images/lky-shou-suo.png);
	margin-top: 53px;
	display: inline;
	float: left;
}
.shou_suo_kuang_9 {
	margin-left: 37px;
	height: 20px;
	line-height: 120%;
	width: 479px;
	margin-top: 14px;
	border: 0;
	_display: block;
}
.shou_suo_an_nv_10 {
	height: 43px;
	width: 120px;
	margin-top: 54px;
	border: none;
	margin-left: -3px;
	background: url(../images/lky-shou-suo-an-niu.png);
}
.qu_zhu_ce_3_img_11 {
	margin-left: 14px;
	margin-top: 7px;
	margin-right: 5px;
}
.frist {
	height: 50px;
	width: 1190px;
	border-bottom: 5px solid #F25011;
	margin: 0 auto;
	margin-bottom: 15px;
}
/*.qu_zhu_ce_3 {*/
/*	width: 152px;*/
/*	height: 29px;*/
/*	margin-right: 14px;*/
/*	float: right;*/
/*	margin-top: 9px;*/
/*	background-image: url(../images/lky-gou-wu.png);*/
/*	line-height:29px;*/
/*}*/
.qu_zhu_ce_4 {
	width: 444px;
	height: 42px;
	float: right;
	margin-top: 8px;
	background-image: url(../images/lky-zhang-hu-001.png);
	line-height:42px;
}
.ge_ren_zu_yie_you_5 {
	height: 16px;
	margin-left: 28px;
	margin-top: 16px;
	float: left;
	font-family: 微软雅黑;
	font-size: 14px;
	line-height:16px;
}
.my_1 {
	float: left;
	display: inline;
	font-family: 微软雅黑;
	font-size: 20px;
	color: #F25011;
	margin-top: 20px;
}
.font_2 {
	font-family: 微软雅黑;
	font-size: 14px;
}
.ge_ren_zhu_yie_2 {
	font-size: 14px;
	float: left;
	height: 22px;
	color: #474747;
	margin-top: 30px;
	margin-top:28px\9;
	margin-left: 5px;
	display: inline;
	font-family: 微软雅黑;
	background-image: url();
	margin-top:27px;
}
.left {
	width: 190px;
	border: 1px solid #e5e5e5;
	float: left;
	display: inline;
}
.tou_xiang_13 {
	margin-left: 15px;
	margin-top: 14px;
	border:1px solid #f15619;
}
.hui_yuan_deng_ji_14 {
	color: #f15010;
	margin-left: 3px;
}

.chong_zhi_15 {
	float: right;
	width: 45px;
	margin-top: -2px;
	height: 21px;
	background-image: url(../images/lky-chong-zhi.png);
}
.chong_zhi_16 {
	width: 44px;
	height: 22px;
	display: block;
}
.wo_de_yu_e_17 {
	height: 16px;
	float: left;
	margin-top: 2px;
}
.zhang_hu_an_quan_19 {
	margin-top: 2px;
	float: left;
}
/*.yan_zhen_tu_pian_20 {*/
/*	margin-top: 3px;*/
/*	margin-left: 3px;*/
/*	float: left;*/
/*}*/
.hui_yuan_xin_xi_21 {
	margin-left: 67px;
	height: 22px;
	width: 100px;
	margin-top: 1px;
}
.font_1 {
	color: #ffffff;
	font-family: 微软雅黑;
	font-size: 12px;
}
.left_elment {
	border: 1px solid #e5e5e5;
	height: 36px;
	width: 188px;
	background-color: #d4d4d4;
	line-height:36px;
	color: #ffffff;
	font-family: 微软雅黑;
	font-size: 14px;
}
.zhang_hu_an_quan_19 {
	margin-top: 2px;
	float: left;
}
.yan_zhen_tu_pian_20 {
	margin-top: 3px;
	margin-left: 3px;
	float: left;
	margin-right:3px;
}
.hui_yuan_deng_ji_14 {
	color: #f15010;
	margin-left: 3px;
}
.elment_1 {
	border: 1px solid #e5e5e5;
	height: 36px;
	width: 188px;
	background-color: #f6f6f6;
	font-family: 微软雅黑;
	font-size:14px;
	line-height:36px;
}
.hui_yuan_xin_xi {
	margin-left: 15px;
	height: 22px;
	width: 170px;
	margin-top: 1px;
}
.log_image_small {
	margin-top: 10px;
	margin-left: 18px;
	margin-right: 7px;
	display:block;
	float:left;
}
.main{
width:1190px;
margin: 0 auto;
clear:both;
}
.main:after{clear:both;display:block;content:'';}
.que_din_div{
width:50px;
height:22px;
float:right;
}
.left_img {
	margin-top: 13px;
	margin-left: 12px;
	margin-right: 7px;
}
.global_a_red{
font-size:12px;
font-family:宋体;
color:#f36027;
text-decoration:underline;
}
.hui_yuan_12 {
	background-color: #ebebeb;
	height: 293px
}
.fen_yue_an_niu a{width:24px;height:23px;display:block;}
.qu_zhu_ce_3 a{
color:#ffffff;font-size:12px;
}
.qu_zhu_ce_3 {
	width: 152px;
	height: 27px;
	margin-right: 14px;
	float:right;
	margin-top: 9px;
	background-image:url(../images/lky-gwc.png);
	line-height:27px;
	text-align:center;
}
.qu_zhu_ce_3 span{margin-left:10px;font-size:12px;font-family: 微软雅黑;}