@CHARSET "UTF-8";
.main{
width:1190px;
height:365px;
border:2px solid #e5e5e5;
margin:0 auto;
}
.den_lu{
width:311px;
margin-top:55px;
float:right;
margin-right:100px;
}
.input{
height:28px;
margin-left:29px;
width:250px;
margin-top:5px;
border:0;
color:#ababab;
line-height:28px;
}
.info{
width:307px;
height:36px;
background-image:url(../images/user_name.png);
margin-bottom:10px;
}
.kuai_su_zh_ce{
display:block;
margin-top:12px;
height:45px;
float:left;
margin-left:5px;
color:#000000;
}
.main_img{
float:left;
}
.qin_den_lu{
font-family:微软雅黑;
font-size:28px;
}	
.yong_hu_ming{
margin-top:21px;
color:#787878;
}
.info1{
width:307px;
height:36px;
background:url(../images/password.png);
}
.wang_ji_mi_ma{
margin-top:10px;
}
.big_div{
margin-top:32px;
height:45px;
width:300px;
}
.float{
float:left;
}
.den_lu_1{
width:222px;
height:39px;
float:left;
background:url(../images/lky-den-lu.png);
border:0;
}
.color5{
color:#787878;
margin-bottom:4px;
}
.color6{
color:#ea4d0e;

}