@CHARSET "UTF-8";

div {
	
}

.right {
	float: right;
	width: 985px;
	margin-left: 1px;
	border: 1px solid #e3e3e3;
}

.right:after {
	clear: both;
	display: block;
	content: '';
}

.ji_feng {
	width: 540px;
	height: 113px;
	background-color: #ffebe3;
	border: 1px solid #fcbca2;
	float: left;
}

.xian_shi_ji_feng {
	width: 268px;
	height: 93px;
	margin-top: 6px;
	float: left;
	border-right: 1px dashed #fcbca2;
	padding-top: 20px;
	height: 73px;
	text-align: center;
}

.font_14 {
	color: #474747;
	font-size: 14px;
	font-family: 宋体;
	display: block;
}

.font_24 {
	color: #f25011;
	font-size: 24px;
	font-family: 微软雅黑;
}

.guo_qi_ji_fen {
	width: 120px;
	height: 73px;
	margin-top: 26px;
	float: left;
	margin-left: 100px;
}

.hr1 {
	height: 2px;
	background: #f46832;
	width: 905px;
}

.select1 {
	margin-left: 26px;
	margin-top: 16px;
}

.color_r {
	color: #f25011;
	font-size: 14px;
}

.ji_fen_title {
	background-image: url(../images/lky-ji-fen-title.png);
	width: 905px;
	height: 31px;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}

.ji_fen_element {
	width: 905px;
	padding-top: 16px;
	color: #ababab;
	height: 68px;
	border-bottom: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
}

.ri_qi_4 {
	width: 150px;
	height: 63px;
	margin-left: 39px;
	float: left;
	vertical-align: middle;
	line-height: 63px;
	text-align: center;
}

.font_11 {
	color: #c86863;
	height: 73px;
	margin-top: 26px;
	float: left;
	margin-left: 100px;
}

.color_1 {
	color: #919191;
	display: block;
}

.color_2 {
	display: block;
	color: #84c011;
	font-size: 24px;
	font-family: 微软雅黑;
}

.select1 {
	margin-left: 26px;
	margin-top: 16px;
}

.ji_fen_title {
	background-image: url(../images/lky-ji-fen-title.png);
	width: 905px;
	height: 31px;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}

.ji_feng_su {
	width: 88px;
	height: 63px;
	margin-left: 90px;
	float: left;
	vertical-align: middle;
	line-height: 63px;
	text-align: center;
}

.ri_qi_4 {
	width: 150px;
	height: 63px;
	margin-left: 39px;
	float: left;
	vertical-align: middle;
	line-height: 63px;
	text-align: center;
}

.zhuo_tian_ji_fen {
	width: 347px;
	height: 113px;
	background-color: #fdf2e7;
	float: right;
	text-align: center;
}

.color_5 {
	color: #ababab;
}

.font_11 {
	color: #c86863;
	height: 73px;
	margin-top: 26px;
	float: left;
	margin-left: 100px;
}

.menu {
	width: 119px;
	height: 36px;
	margin-top: 29px;
	margin-right: 2px;
	float: left;
	background-image: url(../images/lky-menu-background-222.png);
	text-align: center;
	vertical-align: middle;
	color: #777777;
	font-size: 16px;
	font-family: 微软雅黑;
	line-height: 37px;
}

/*div {*/
/*    overflow: hidden;*/
/*}*/
.menu_body {
	width: 905px;
	float: left;
}

.select1 {
	margin-left: 26px;
	margin-top: 16px;
}

.shen_mo_shi_ji_fen {
	width: 905px;
	height: 51px;
	vertical-align: middle;
	line-height: 51px;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
}

.shen_mo_shi_ji_fen_span {
	float: right;
	height: 51px;
	margin-right: 23px;
	line-height: 51px;
}

.ji_fen_title {
	background-image: url(../images/lky-ji-fen-title.png);
	width: 905px;
	height: 31px;
	border: 1px solid #e2e2e2;
}

.shang_ping_img_2 {
	margin-left: 28px;
	margin-right: 7px;
	float: left;
}

.ji_feng_text {
	width: 258px;
	height: 35px;
	float: left;
	margin-bottom: 5px;
}

.ji_feng_su {
	width: 88px;
	height: 63px;
	margin-left: 90px;
	float: left;
	vertical-align: middle;
	line-height: 63px;
	text-align: center;
}

.ri_qi_4 {
	width: 150px;
	height: 63px;
	margin-left: 39px;
	float: left;
	vertical-align: middle;
	line-height: 63px;
	text-align: center;
}

.ri_qi_4 span {
	color: #777777;
}

.bei_zu {
	width: 97px;
	height: 67px;
	margin-left: 48px;
	float: left;
	line-height: 63px;
	text-align: center;
	text-align: center;
	color: #777777;
}

.ji_fen_font {
	color: #f25011;
	font-size: 30px;
	font-family: 微软雅黑;
}

/*********************分页*******************************/
.menu_a {
	color: #777777;
	font-size: 16px;
	font-family: 微软雅黑;
}

.font_16 {
	font-size: 16px;
	font-family: 微软雅黑;
	color: #474747;
	line-height: 18px;
}

.zhuan_ji_fen {
	color: #c86863;
	font-family: 微软雅黑;
	font-size: 11px;
	line-height: 11px;
}

.zhou_tian_jin_tian {
	width: 905px;
	height: 287px;
	margin-left: 38px;
	margin-top: 25px;
}

.top_element {
	width: 905px;
	margin-top: 33px;
	margin-left: 38px;
	height: 115px;
}

.menu_1 {
	width: 70px;
	height: 38px;
	background-color: #fdf2e7;
	text-align: center;
	vertical-align: middle;
	line-height: 37px;
	color: #f48361;
	font-family: 微软雅黑;
	font-size: 14px;
	float: left;
	border: 1px solid #ffd8c8;
	border-bottom: 0;
}

.ji_fen_huan_gou {
	width: 96px;
	height: 28px;
	background-image: url(../images/lky-ji-fen-huan-gou.png);
	float: right;
	margin-top: 5px;
	text-align: center;
	vertical-align: middle;
	line-height: 28px;
}

.ji_fen_huan_gou_a {
	color: #f48259;
	font-family: 微软雅黑;
	font-size: 12px;
}

.jin_tian_body {
	width: 692px;
	height: 246px;
	border: 1px solid #ffd9ca;
	background-color: #fdf2e7;
	float: left;
}

.jin_tian_title {
	width: 905px;
	height: 39px;
}

.ri_qi_div {
	width: 65px;
	height: 89px;
	float: left;
	margin-top: 70px;
	margin-left: 10px;
}

.ri_qi_s {
	color: #5e5e5e;
	font-family: 微软雅黑;
	font-size: 56px;
}

.ji_fen_pai {
	width: 157px;
	height: 193px;
	margin-left: 12px;
	background-color: #ffffff;
	margin-top: 25px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	line-height: 17px;
	border: 1px solid #ffdbcc;
}

.ji_fen_su_liang {
	color: #ff2301;
	font-size: 72px;
	display: block;
	margin-top: 43px;
	margin-left: 10px;
	width: 60px;
	height: 35px;
	line-height: 70px;
	float: left;
}

.lin_qu {
	width: 52px;
	height: 24px;
	display: block;
	margin-top: 12px;
	background: url(../images/lky-lin-qv-ji-fen.png);
	float: right;
}

.qian_dai {
	margin-left: 5px;
	display: block;
	float: left;
	line-height: 27px;
	vertical-align: middle;
	height: 27px;
	width: 150px;
	margin-top: 10px;
}

.ji_fen_11 {
	display: block;
	line-height: 27px;
	vertical-align: middle;
	height: 27px;
	float: left;
	margin-left: 2px;
	font-size: 14px;
	color: #474747;
	font-family: 微软雅黑;
}

.img_1 {
	display: block;
	float: left;
}

.ji_fen_guang_gao {
	height: 40px;
	float: right;
	width: 60px;
	margin-top: 23px;
	line-height: 20px;
	color: #474747;
}

.ji_fen_pai_zhogn_bu {
	margin-top: 35px;
	width: 155px;
	height: 65px;
	font-size: 72px;
	color: #ff2301;
	vertical-align: middle;
	line-height: 65px;
}

.big_fen_su {
	width: 40px;
	float: left;
	height: 65px;
	font-size: 72px;
	color: #ff2301;
	vertical-align: middle;
	line-height: 65px;
	display: block;
}

.ji_fen_bang {
	width: 201px;
	height: 248px;
	background-color: #fdf2e7;
	float: right;
	text-align: center;
	line-height: 20px;
	overflow: hidden;
}

.ji_fen_da_ren {
	width: 146px;
	height: 130px;
	line-height: 25px;
	margin-left: 14px;
	margin-top: 18px;
	background-color: #ffffff;
	text-align: left;
	padding-left: 25px;
	padding-top: 15px;
	color: #5e5e5e;
}

.da_ren_title {
	display: block;
}

.da_ren_span {
	margin-left: 10px;
	margin-right: 10px;
}

.color_red_22 {
	color: #f25b1e;
}

.font_style {
	font-family: 微软雅黑;
	color: #f15010;
	font-size: 12px;
}

.menu_div {
	width: 907px;
	height: 65px;
	border-bottom: 2px solid #f46832;
}

.miao_su_3 {
	display: block;
	margin-bottom: 5px;
}

.shen_mo_shi_ji_fen_1 .span_i {
	margin-left: 10px;
	margin-right: 10px;
	cursor: auto;
	color: #b9b9b9;
}

.shen_mo_shi_ji_fen_1 {
	width: 875px;
	height: 51px;
	vertical-align: middle;
	line-height: 51px;
	padding-left: 30px;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
}
.ji_fen_bang .ps {
	color: #5e5e5e;
}

.fen_yue_an_nv_1 {
	min-width: 26px;
	height: 25px;
	margin-left: 8px;
	float: left;
	line-height: 25px;
	text-align: center;
	vertical-align: middle;
}

.fen_yue_an_nv_2 {
	width: 66px;
	height: 25px;
	margin-left: 8px;
	float: left;
	line-height: 25px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #aeaeae;
}

.fen_yue {
	width: 330px;
	height: 27px;
	margin-top: 23px;
	margin-right: 30px;
	float: right;
}

.fen_yue_an_niu {
	min-width: 26px;
	height: 25px;
	border: 1px solid #aeaeae;
	margin-left: 8px;
	float: left;
	line-height: 25px;
	text-align: center;
	vertical-align: middle;
}

.fen_yie_big {
	width: 950px;
	height: 68px;
	float: left;
}

.xiao_hong_dian {
	width: 17px;
	height: 17px;
	margin-right: 9px;
	margin-top: 7px;
	background-image: url(../images/lky-xiao-hong-dian.png);
	line-height: 17px;
	text-align: center;
	float: right;
	color: #ffffff;
}

.span_ii {
	margin-left: 9px;
	margin-right:6px;
	cursor: auto;
	color: #b9b9b9;
	font-size: 12px;
}
.shen_mo_shi_ji_fen_span .span_ii{font-size: 14px;}