@CHARSET "UTF-8";
.right{
width:985px;
float:right;
border:1px solid #e3e3e3;
}
.xiao_xi_title{
/*width:158px;#f35810*/
height:38px;
background-color:#f0f0f0;
line-height:38px;
text-align:center;
vertical-align:middle;
color:#ffffff;
float:left;
}
.font_14{
	font-size:14px;
	font-family:宋体;
	color:#ffffff;
}
.font_12{
	font-size:12px;
	font-family:宋体;
	color:#ffffff;
}

.zi_xian_shi_we_du_xiao_xi{
float:right;
width:133px;
height:38px;

}
.checkbox{

display:block;
float:left;
margin-top:14px;
_margin-top:10px;
}
.sp{
margin-top:14px;
margin-left:5px;
display:block;
float:left;

}
.right_top{
width:985px;
height:38px;
background-color:#eeeeee;
border-bottom:1px solid #ffffff;
}

.right_delete{
width:985px;
height:29px;
padding-top:9px;
background-color:#eeeeee;
border-bottom:#ffffff;
}
.right_delete_div{
height:23px;
margin-left:23px;
}
.shan_cu{
width:48px;
height:21px;
background:url(../images/lky-xin-xi-shan-cu.png);
float:left;
display:block;
}
.ce_di_shan_cu{
width:71px;
height:21px;
background:url(../images/lky-xin-xi-ce-di-shan-cu.png);
float:left;
display:block;
margin-left:2px;
}
.biao_ji_yi_du{
width:110px;
height:21px;
background:url(../images/lky-xin-xi-yi-du.png);
float:left;
display:block;
margin-left:2px;
}
.delete_right{
width:170px;
_width:180px;
height:22px;
float:right;
line-height:22px;
vertical-align:middle;
}
.a_color{
color:#207be0;
margin-left:5px;
margin-right:7px;
}
.tiao_zhuan_kuang{
width:16px;
height:12px;
margin-left:5px;
margin-right:5px;
}
.que_din{
width:39px;
height:18px;
margin-top:2px;
_margin-top:0;
float:right;
border:0;
margin-right:10px;
background:url(../images/lky-xin-xi-que-din.png);
}
.sa{
_margin-top:-1px;
line-height:22px;
display:block;
float:left;
}
.title_table{
width:985px;
height:26px;
background:url(../images/lky-xin-xi-table-title.png);
border-bottom:1px solid #e1e1e1;
line-height:26px;
}
.input_11{
margin-left:23px;
margin-top:7px;
}
.span_13{
margin-left:15px;
margin-right:15px;
}
.message_element{
width:985px;
height:62px;
border-bottom:1px solid #e1e1e1;
}
.check_box{
padding-left:23px;
width:32px;
padding-top:10px;
height:52px;
float:left;
}
.fa_jian_ren{
width:140px;
padding-left:16px;
height:62px;
line-height:30px;
float:left;
}
.zhu_ti{
width:629px;
padding-left:15px;
height:62px;
line-height:30px;
float:left;
}
.shi_jian{
width:100px;
padding-left:10px;
height:62px;
line-height:30px;
float:left;
}
.ss{
display:block;
float:left;

}