@CHARSET "UTF-8";
.right{
width:986px;
float:right;
border:1px solid #e3e3e3;
}
div{
/*border:1px solid red;*/
}
.xiu_gai{
width:843px;
height:97px;
margin-left:37px;
margin-top:15px;
}
.text_style{
font-size:14px;
font-family:微软雅黑;
display:block;
float:right;
}
.ti_shi_text{
height:97px;
width:439px;
float:left;
text-align:right;
}
.ti_shi_text_1{
height:97px;
float:left;
text-align:left;
}
.xiu_gai_1{
height:27px;
font-size:14px;
font-family:微软雅黑;
text-align:left;
margin-top:10px;
}
.xiu_gai_a{
width:77px;
height:27px;
display:block;
float:right;
}
.hao_ma_text{
display:block;
float:left;
height:27px;
font-size:14px;
font-family:微软雅黑;
}
.button_div{
float:right;
height:27px;
width:80px;
}
.xiu_gai_2{
height:27px;
font-size:14px;
font-family:微软雅黑;
text-align:right;
margin-top:10px;
}
.you_jian_table{
width:905px;
border:1px solid #fcd3c3;
margin-left:41px;
margin-bottom:48px;
}
.element_title{
width:883px;
height:30px;
border:1px solid #fcd3c3;
border-bottom:0;
line-height:30px;
padding-left:20px;
color:#f3773a;
background-color:#f8e5ca;
}
.element{
width:905px;
height:32px;
border-top:1px solid #fcd3c3;
}
.xin_xi_len_rong{
width:383px;
padding-left:20px;
height:32px;
border-right:1px solid #fcd3c3;
line-height:32px;
float:left;
}
.guan_bi{
width:110px;
height:20px;
line-height:32px;
text-align:center;
border-right:1px solid #fcd3c3;
float:left;
padding-top:12px;
}
.you_jian{
width:136px;
height:20px;
line-height:32px;
text-align:center;
border-right:1px solid #fcd3c3;
float:left;
padding-top:12px;
}
.zhan_len_xin{
width:130px;
height:20px;
line-height:32px;
text-align:center;
border-right:1px solid #fcd3c3;
float:left;
padding-top:12px;
}
.shou_ji{
width:119px;
height:20px;
line-height:32px;
text-align:center;
float:left;
padding-top:12px;
}
.right:after{clear:both;display:block;content:'';}